<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DummyRestAPI_WithTemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DummyRestAPI_WithTemplate.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://dummy.restapiexample.com/api/v1</value>
            </setting>
            <setting name="REPORT_NAME" serializeAs="String">
                <value>DummyRestAPI_WithTemplate</value>
            </setting>
            <setting name="AUTHENTICATOR_USER" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTHENTICATOR_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="REPORT_SUBSTRING_LENGTH" serializeAs="String">
                <value>29</value>
            </setting>
            <setting name="TOKEN" serializeAs="String">
                <value />
            </setting>
        </DummyRestAPI_WithTemplate.Properties.Settings>
    </userSettings>
</configuration>