<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TestingTempateFakeJson.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <TestingTempateFakeJson.Properties.Settings>
            <setting name="URL" serializeAs="String">
                <value>http://localhost:3000</value>
            </setting>
            <setting name="TOKEN" serializeAs="String">
                <value>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImJydW5vQGVtYWlsLmNvbSIsInBhc3N3b3JkIjoiYnJ1bm8iLCJpYXQiOjE1NjkyNTYyMjQsImV4cCI6MTU2OTI1OTgyNH0.KlkKUIaoIVJCsFDuVlMuf1kqEFJB6U6yVJiWmwMot4g</value>
            </setting>
            <setting name="DB_URL" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="DB_CONNECTION_TIMEOUT" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="REPORT_NAME" serializeAs="String">
                <value>TestingTemplateFakeJson</value>
            </setting>
            <setting name="AUTHENTICATOR_USER" serializeAs="String">
                <value />
            </setting>
            <setting name="AUTHENTICATOR_PASSWORD" serializeAs="String">
                <value />
            </setting>
            <setting name="REPORT_SUBSTRING_LENGTH" serializeAs="String">
                <value>29</value>
            </setting>
        </TestingTempateFakeJson.Properties.Settings>
    </userSettings>
</configuration>
